// Place your settings in this file to overwrite the default settings
{
    "workbench.iconTheme": "vscode-great-icons",
    "window.zoomLevel": -1,
    "files.hotExit": "onExit",
    "editor.fontSize": 18,
    "editor.tabSize": 3,
    "editor.lineHeight": 25,
    "editor.minimap.enabled": true,
    "editor.formatOnPaste": false,
    "editor.wordWrap": "on",
    "explorer.openEditors.visible": 20,
    "editor.renderIndentGuides": true,
    "git.path": "C:\\Program Files\\Git\\bin",
    "window.title": "${dirty}${rootName}${separator}${appName}${separator}${activeEditorLong}",
    "workbench.colorTheme": "Atom One Light",
    "terminal.integrated.shell.windows": "C:\\WINDOWS\\Sysnative\\cmd.exe",
    "workbench.statusBar.visible": true,
    "workbench.startupEditor": "newUntitledFile",
    "sublimeTextKeymap.promptV3Features": true,
    "editor.multiCursorModifier": "ctrlCmd",
    "editor.snippetSuggestions": "top",
    "workbench.panel.location": "bottom",
    "git.enableSmartCommit": true,
    "workbench.editor.enablePreview": false,
    "workbench.editor.enablePreviewFromQuickOpen": false,
    "git.autofetch": true,
    "workbench.editor.showTabs": true
}
